<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:b="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/security
                            http://www.springframework.org/schema/security/spring-security-3.1.xsd">
                            
       <b:bean id="appUserDetailsService" class="br.com.wavii.securyti.AppUserDetailsService" />        
                     
      <b:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
	    <b:property name="accessDeniedHandler" ref="jsfAccessDeniedHandler"/>
	    <b:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
	</b:bean>
	
	<b:bean id="jsfAccessDeniedHandler" class="br.com.wavii.securyti.JsfAccessDeniedHandler">
	    <b:property name="loginPath" value="/AcessoNegado.xhtml" />
	    <b:property name="contextRelative" value="true" />
	</b:bean>
	
	<b:bean id="authenticationEntryPoint" class="br.com.wavii.securyti.JsfLoginUrlAuthenticationEntryPoint">
	    <b:property name="loginFormUrl" value="/login.xhtml"/>
	    <b:property name="redirectStrategy" ref="jsfRedirectStrategy" />
	</b:bean>
	
	<b:bean id="jsfRedirectStrategy" class="br.com.wavii.securyti.JsfRedirectStrategy"/>                    
             <http pattern="/login.xhtml" security="none" />
             <http pattern="/Erro.xhtml" security="none" />
             <http pattern="/javax.faces.resource/**" security="none" />
             <http auto-config="false" use-expressions="true">
        <custom-filter ref="exceptionTranslationFilter" before="FILTER_SECURITY_INTERCEPTOR" />
        <intercept-url pattern="/index.xhtml"   access="hasAnyRole('ADMINISTRADOR','VENDEDOR')"/>
        <intercept-url pattern="/cadastroprincipal/**" access="hasAnyRole('ADMINISTRADOR')" />
        <intercept-url pattern="/auxcadastro/**" access="hasAnyRole('ADMINISTRADOR','VENDEDOR')" />
        <intercept-url pattern="/cadastros/**" access="hasAnyRole('VENDEDOR','ROLE_USER','ADMINISTRADOR')" />
        <intercept-url pattern="/auxrecurso/**" access="hasAnyRole('ADMINISTRADOR')" />
        <intercept-url pattern="/MovimentoMesa.xhtml"  access="hasAnyRole('VENDEDOR','ADMINISTRADOR')"/>
        <intercept-url pattern="/MovimentoCaixa.xhtml"  access="hasAnyRole('VENDEDOR','ADMINISTRADOR')"/>
        <intercept-url pattern="/VendasMesa.xhtml"  access="hasAnyRole('VENDEDOR','ADMINISTRADOR')"/>
        <form-login login-page="/login.xhtml"  
         default-target-url="/Index.xhtml" always-use-default-target="true"
         authentication-failure-url="/login.xhtml?invalid=true"/> 
    <logout logout-success-url="/login.xhtml" logout-url="/j_spring_security_logout"/>
    </http>
    
  <authentication-manager >
		<authentication-provider user-service-ref="appUserDetailsService">
			<password-encoder  hash="sha-256" />
		</authentication-provider>
	</authentication-manager>
    
    

</b:beans>